table,th,td{
border:2px solid black;
border-collapse:collapse;
padding:8px;
}
td:hover{
background-color:skyblue;
}
footer{
text-align:center;padding:2rem;background:MistyRose ;color:black;margin-top:50px;
}
header{
text-align:center;padding:2rem;background:MistyRose ;color:black;margin-top:50px;
}
